{% extends "inicio/encabezado.html" %}

{% block titulo %} CONTACTO {% endblock %}
{%block imagen%}
    {%load static%}
    {%static 'inicio/images/contacto.png'%}
{%endblock%}
{%block info%}
    Contacto<span>contactanos</span>
{%endblock%}
{%block encabezado%}
			<!--Encabezdo -->
					<h3>Contacto
				    <small>Ingresa tus datos</small></h3>
			<!-- /Encabezado-->
			 {%endblock%}
{% block contenido%}
			

			<!-- Formulario -->
			<form class="form-horizontal" action="#" role="form">
	            <div class="panel panel-default">
	                <div class="panel-body">

				        <div class="form-group">
				            <label class="col-sm-2 control-label text-right">Nombre</label>
				            <div class="col-sm-10">
				            	<input type="text" class="form-control">
				            </div>
				        </div>
				        
				        <div class="form-group">
				            <label class="col-sm-2 control-label text-right">Mensaje</label>
				            <div class="col-sm-10">
				            	<textarea class="form-control" rows="5" placeholder="Escribe tu mensaje aquí..."></textarea>
				            </div>
				        </div>
				        
                        <div class="form-actions text-right">
                        	<input type="submit" value="Enviar" class="btn btn-primary">
                        </div>

				    </div>
				</div>
			</form>
		<!-- Fin del Formulario -->
		
{%endblock%}