{% extends "inicio/encabezado.html" %}

{% block titulo %}FORMULARIO{% endblock %}

{% block contenido %}
<p>Matricula:<input type="text" name="matricula"></p>
<p>Nombre:<input type="text" name="nombre"></p>
<p>Carrera:
    <select name="carrera">
        <option>ING. DGS</option>
        <option>ING. ITM</option>
    </select>
</p>
<p>
    <input type="checkbox" name="turno" value="matutino"> Matutino
    <input type="checkbox" name="turno" value="vespertino"> Vespertino
</p>
<p><input type="button" name="enviar" value="Enviar"></p>
{% endblock %}
