{% extends "inicio/encabezado.html" %}
{% block titulo%}PRINCIPAL{% endblock%} 
{%block imagen%}
	{%load static%}
	{%static 'inicio/images/home.png'%}
{%endblock%}
{%block info%}
		Principal <span>DSM</span>
{%endblock%}
{%block contenido %}
		<!-- Contenido Principal-->
	 	<div class="page-content">


			<!--Encabezdo -->
			<div class="page-header">
				<div class="page-title">
					<h3>Alumnos
				    <small>Lista de Alumnos </small></h3>
				</div>

				
			</div>
			<!-- /Encabezado-->


		</div>
		<!-- /Contenido Principal-->
{% endblock%}


